.header{
    height: 40vh;
    background-image: linear-gradient(#102249, rgba(0, 0, 0, 0.705)), url(../Assets/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.primary-header{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Permanent Marker', cursive;
}

.tertiary-header{
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
}

.quote_author{
    color: #c09a95;
    text-align: center;
    display: block;
}

@media (max-width: 600px){
    .header{
        padding: 0 2rem;
    }

    .tertiary-header{
        font-size: 1rem;
    }
}